{% extends 'FeatureEngineering/base.html' %}
{% load static %}

{% block title %} Feature Engineering- Feature Scaling {% endblock %}

{% block content %}

<div class="table2">
    {% if status == "success" %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Data Scaling Successfull.
      </div>
    {% endif %}
    {% if status == "error" %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong>{{msg}}
      </div>
    {% endif %}
    {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
        <div class="jumbotron">
          <center><h2> Perform Feature Scaling</h2></center>
        <p>This feature allows you to scale your dataset's features to a similar range, such as scaling continuous variables to a range of 0 to 1 or -1 to 1.
           You can use this feature to prepare your data for certain machine learning algorithms that are sensitive to differences in feature scales.</p>
            <hr class="my-4">
            <ul class="list-group">
                <li class="list-group-item active">Instructions:</li>
                <li class="list-group-item">Select a scaling method </li>
                <li class="list-group-item">click `perform scaler` button </li>
                <li class="list-group-item"> Click save button </li>
              </ul>
             <div class="alert alert-success">
                <strong>Note!</strong> You can perform Scaling Reduction only Once.
            </div>
    </div>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Type of Scaler</label>
                <select class="form-control" name="scaling_method" id="scaling_method">
                    {% for col in scaler_types %}
                    <option value="{{col}}">{{col}}</option>
                  {% endfor %}
                  </select>
            </div>
        </div>
    </div>
        <div class="row">
            {% if allowed_operation != "not" %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                <button type="submit" class="btn btn-primary btn-l" id="btn-submit"  data-target="#exampleModal" data-toggle="modal">Perform Scaler</button>
            </div>
            {% endif %}
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure??</h5>
                </div>
                <div class="modal-body">
                    <p>Please make sure to make selected scaling,because you can't revert this operation
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" id="submit" class="btn btn-danger">Save Result</button>
                </div>
              </div>
            </div>
          </div>
</form>
{{ data | safe }}

</div>
<script>
    $(document).ready(function() {

        $("#submit").on('click',()=>{
                  $("#loading").css('display', 'block');
            })
    });

</script>
{% endblock %}