<div id="div1" style="display: none;">
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select X Column</label>
      <select class="form-control" name="boxplot-xcolumn">
          {% for col in x_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Y Column</label>
      <select class="form-control" name="boxplot-ycolumn">
          {% for col in y_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
</div>

<div id="div2" style="display: none;">
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select X Column</label>
      <select class="form-control" name="pieplot-xcolumn">
          {% for col in x_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
</div>

<div id="div3" style="display: none;">
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select X Column</label>
      <select class="form-control" name="barplot-xcolumn">
          {% for col in x_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
</div>

<div id="div4" style="display: none;">
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select X Column</label>
      <select class="form-control" name="scatter-xcolumn">
          {% for col in x_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Y Column</label>
      <select class="form-control" name="scatter-ycolumn">
          {% for col in y_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
</div>


<div id="div5" style="display: none;">
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Y Column</label>
      <select class="form-control" name="violinplot-ycolumn">
          {% for col in y_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
</div>


<div id="div6" style="display: none;">
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select X Column</label>
      <select class="form-control" name="distplot-xcolumn">
          {% for col in x_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Y Column</label>
      <select class="form-control" name="distplot-ycolumn">
          {% for col in y_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
</div>

<div id="div7" style="display: none;">
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select X Column</label>
      <select class="form-control" name="line-xcolumn">
          {% for col in x_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Y Column</label>
      <select class="form-control" name="line-ycolumn">
          {% for col in y_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
</div>


<div id="div8" style="display: none;">
  <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select X Column</label>
      <select class="form-control" name="histo-xcolumn">
          {% for col in x_list %}
            <option value="{{col}}">{{col}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
</div>

<div id="div9" style="display: none;">
</div>

<div id="div10" style="display: none;">
</div>