{% extends 'accounts/base.html' %}

{% block title %} Change Password {% endblock %}

{% block heading %} CHANGE PASSWORD {% endblock %}

{% block content %}

        <form method="post" action="{% url 'change_password' %}" style="max-width: 40%;" autocomplete="off">
            {% csrf_token %}

            <div class="form-row">
                <div class="input-group col-md-12 mb-2">
                    <div class="input-group-prepend">
                    <div class="input-group-text">Old Password</div>
                    </div>
                    <input type="password" id="old_password" name="old_password" class="form-control"
                           placeholder="Enter Old Password" required autofocus>
                </div>
                {{ form.old_password.errors }}
            </div>

            <div class="form-row">
                <div class="input-group col-md-12 mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">New Password</div>
                    </div>
                    <input type="password" id="new_password1" name="new_password1" class="form-control"
                           placeholder="Enter New Password" required>
                </div>
                {{ form.new_password1.errors }}
            </div>

            <div class="form-row">
                <div class="input-group col-md-12 mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Confirm Password</div>
                    </div>
                    <input type="password" id="new_password2" name="new_password2" class="form-control"
                           placeholder="Enter Confirm Password" required>
                </div>
                {{ form.new_password2.errors }}
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
            <!--<a href="#" class="btn btn-primary" role="button">Change Password</a>-->
            {% if save_message %}
            <div class="alert alert-success"><strong><span style="color:Green">{{save_message}}</span></strong></div>
            {% else %}
            {% endif %}
        </form>

{% endblock %}
