{% extends 'dataPreProcessing/base.html' %}
{% block content %}

<div class="table2">
    {% if success %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Deleted duplicate records Successfully.
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{msg}}</strong>
      </div>
    {% endif %}

    <div class="jumbotron">
        <center><h2> Handle duplicate data </h2></center>
        <p>This feature allows you to identify and handle duplicate data in your dataset, such as removing exact or near-duplicate rows. 
            You can use this feature to ensure that your analysis results are not skewed by duplicate data.</p>
            <hr class="my-4">
            <ul class="list-group">
                <li class="list-group-item active">Instructions:</li>
                <li class="list-group-item"> Click remove duplicates button </li>
              </ul>
      </div>
    <h3>Total Duplicate Records: {{duplicate_count}}</h3>
      {% if duplicate_count == 0 %}
      <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Great!</strong> There is no duplicate data.
      </div>
      {% endif %}
     <div style="overflow:auto;">
        {{data | safe}}
      </div>
      {% if duplicate_count != 0 %}
      <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                <button type="button" class="btn btn-danger" id="delete-btn" data-toggle="modal" data-target="#exampleModal">Remove Duplicate Records</button>
            </div>
        </div>  
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete??</h5>
                </div>
                <div class="modal-body">
                    <p>If you delete the data then it will not revert back</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="submit" type="submit" class="btn btn-danger">Delete duplicate records</button>
                </div>
              </div>
            </div>
          </div>
      </form>
      {% endif %}
</div>
<script>
   $(document).ready(function() {
    $("#submit").on('click',()=>{
                $("#loading").css('display', 'block');
            })
    $('.dataframe').DataTable({
            "bScrollCollapse": true,
    });
        jQuery('.dataTable').wrap('<div class="dataTables_scroll" />');
    // $("#delete-btn").hide()  
        if($("#selected_column").val()){
        $("#columns").select2().val($("#selected_column").val().split(",")).trigger("change");
    }
});
</script>

<script>
     $(document).ready(()=>{
        $("#submit").on('click',()=>{
                  $("#loading").css('display', 'block');
            })
        $(".dataframe").attr("class","table table-hover")
    })
</script>
{% endblock %}