{% extends 'EDA/base.html' %}
{% load static %}

{% block title %} EDA Correlation {% endblock %}
{% block content %}

{% if error %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> {{msg}}
      </div>
{% endif %}

<div class="table2">
    <div class="jumbotron">
        <center><h2> Correlation Report </h2></center>
        <p>This page displays a correlation heatmap that shows the pairwise correlations between all the 
            numeric variables in your dataset. You can use this report to identify which variables are strongly correlated (either positively or negatively) and which ones are weakly correlated or uncorrelated.</p>
             <hr class="my-4">
             <ul class="list-group">
                <li class="list-group-item active">Instructions:</li>
                <li class="list-group-item">Select a correlation method </li>
                <li class="list-group-item">Select a column (optional) </li>
                <li class="list-group-item"> Click show results </li>
              </ul>
      </div>

      <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Correaltion Method</label>
                    <select name="method">
                        {% for corr_method in corr_methods %}
                            <option value="{{corr_method}}">{{corr_method}}</option>
                        {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Columns(optional)</label>
                    <select class="selectpicker" multiple data-live-search="true" name="column">
                        {% for col in columns %}
                            <option value="{{col}}">{{col}}</option>
                        {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                <button id="submit" type="submit" class="btn btn-success margin-top-10">Show Result</button>
            </div>
        </div>
      </form>
      {% if data %}
      <center><h3><u> Heatmap using {{method}}</u></h3></center>
        <div id='corrmatrix'><!-- Plotly chart will be drawn inside this DIV --></div>
      {% endif %}
    </div>
<script type='text/javascript'>
 var graphs = {{ data | safe }};
Plotly.newPlot('corrmatrix',  graphs);
</script>
<script>
   $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    $(document).ready(()=>{
        $("#submit").on('click',()=>{
                  $("#loading").css('display', 'block');
            })
        $(".dataframe").attr("class","table table-hover")
    })
    
        // Material Select Initialization
    $(document).ready(function() {
            $('select').selectpicker();
        });
        
</script>
{% endblock %}